body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('fondo.jpg');
    background-size: cover; /* La imagen cubrirá completamente el fondo */
    background-position: center;
    color: #fff;
}


header {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    padding: 20px 0;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #ccc; /* Color de texto gris claro para las etiquetas */
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    color: #333; /* Color de texto oscuro para el menú desplegable */
}

.provincia-info {
    margin-top: 20px;
    border-top: 1px solid #fff; /* Línea divisoria blanca */
    padding-top: 20px;
}

.provincia-info h2 {
    font-size: 24px;
    margin-top: 0;
}

.provincia-info p {
    margin: 10px 0;
}
